<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Employees</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 (click)="restartAgain()">Work in Progress</h3>
  <ion-list>
    <ion-item-sliding *ngFor="let employee of employees; let i = index;" class="">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{'assets/img/' +employee.doc.picture}}"/>
        </ion-avatar>

        <div>
          <h2>{{ employee.doc.firstName+" "+employee.doc.lastName}}</h2>
          <span style="font-size: small; color: grey;">{{ employee.doc.title }}</span>
        </div>
        <div *ngIf="employee.doc.reportCount>0" item-right class="reportsCount">
          <span> {{employee.doc.reportCount}}</span>
        </div>
      </ion-item>
      <ion-item-options>
        <button ion-button icon-only color="light" (click)="updateEmp(employee.doc,i)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only color="primary" (click)="showEmpDetail(employee.doc.id, i)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>